{% extends 'layout.html.twig' %}
{% block content %}

    <h1> Vote pour ta légende préférée </h1>
    <img src="{{ picture.url }}" alt="meme">
    {{ ranks.content }}
    {% include 'Picture/_form.html.twig' %}
    <div class="container">
        <ul class="list-group">
            {% for legend in legends %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ legend.content }}</div>
                        Posté par {{ legend.name }}
                        <img src="https://avatars.githubusercontent.com/{{ legend.nickname_github }}">
                        </div>
                        <span class="badge bg-primary rounded-pill">{{ legend.ranking }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}