{% extends 'layout.html.twig' %}
{% block content %}
    <h1> Vote pour ta légende préférée </h1>
    <img src="{{ picture.url }}" alt="meme">
    {{ ranks.content }}
    {% include 'Picture/_form.html.twig' %}
    <div class="container">
        <ul class="list-group">
            {% for legend in legends %}
                <li class="list-group-item d-flex justify-content-between align-items-start col-9 mx-auto my-1 rounded-3">
                    <div>
                        <div class="fw-bold fs-3">{{ legend.content }}</div>
                        <img id="photo-profil" class="img-fluid d-inline" src="https://avatars.githubusercontent.com/{{ legend.nickname_github }}">
                        <p class="d-inline">Posté par {{ legend.name }}</p>
                    </div>
                        <span class="badge bg-primary rounded-pill">{{ legend.ranking }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}