{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container mb-5">
        <h1 class="text-center mt-3 text-ternary"> Vote pour ta légende préférée </h1>
        <div class="row">
            <figure id="picture-background" class="w-100" style="background-image: url({{ picture.url }})">
               {#  <img id="picture-show" class="rounded mx-auto d-flex img-fluid" src="{{picture.url}}" alt="meme">#}
            </figure>
        </div>
        <li class="list-group-item d-flex justify-content-end align-items-start col-12 col-sm-10 col-md-3 mx-auto my-1 rounded-3">
        <div class="flex-grow-1">
            <div class="fs-2">
                <p class="text-md-center"> {{ best_ranking_legend.content}} </p>
            </div>
        </div>
        </li>
            <ul class="list-group d-flex justify-content-center">
                {% for legend in legends %}
                    <li class="list-group-item d-flex justify-content-end align-items-start col-12 col-sm-10 col-md-9 mx-auto my-1 rounded-3">
                        <div class="flex-grow-1">
                            <div class="fs-2">
                                {{ legend.content }}
                            </div>
                        </div>
                        <p>Posté par {{ legend.name }}</p>
                        <img class="photo-profil img-fluid rounded-circle px-3" src="https://avatars.githubusercontent.com/{{ legend.nickname_github }}" alt="avatars github">
                        <span class="badge bg-primary ">{{ legend.ranking }}
                            <form  action="image/vote?legendId={{ legend.legend_id }}&pictureId={{ picture.id }}" method="POST" >
                                <button type="submit"  class=" btn btn-outline-danger"><i class="fas fa-star"></i></button>
                            </form>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        <form action="" class="g-3 needs-validation" method="post" novalidate>
            <div class="col-12 col-sm-10 col-md-9 rounded mx-auto">
                <label for="validationTextarea" class="form-label text-ternary fs-2">Poste nous ta meilleure légende !
                    <span class="text-secondary">{% for error in errors %}{{ error }}{% endfor %}</span>
                </label>
                <input type="text" name="inputLegend" class="form-control is-invalid" id="validationTextarea" placeholder="Laisse libre cours à ton imagination" required>
            </div>
            <div class=" col-9 d-flex flex-row-reverse mx-auto rounded py-3 fs-3">
                <button class="btn-lg bg-secondary border-secondary" type="submit">Envoyer ! </button>
            </div>
        </form>
    </div>
{% endblock %}