{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container py-5">
    <h1 class="text-center text-ternary"> Vote pour ta légende préférée </h1>
    <div class="row">
        <figure>
            <img id='picture-show' class="rounded mx-auto d-flex img-fluid" src="{{ picture.url }}" alt="meme">
        </figure>
    </div>
    </div>
    {{ ranks.content }}
    <div class="container">
        <ul class="list-group">
            {% for legend in legends %}
                <li class="list-group-item d-flex justify-content-end align-items-start col-12 col-sm-10 col-md-9 mx-auto my-1 rounded-3">
                    <div class="flex-grow-1">
                        <div class="fs-2">
                            {{ legend.content }}
                        </div>
                    </div>
                    <p>Posté par {{ legend.name }}</p>
                    <img id="photo-profil" class="img-fluid rounded-circle px-3" src="https://avatars.githubusercontent.com/{{ legend.nickname_github }}">
                    <span class="badge bg-primary ">{{ legend.ranking }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include 'Picture/_form.html.twig' %}

{% endblock %}