{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container rounded text-ternary mt-4 mb-5">
        <div class="row">
            <div class="col-md-6 border-white">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-3 w-50 shadow p-1 mb-2 bg-ternary"
                         src="https://avatars.githubusercontent.com/{{ user_data.nickname_github }}">
                    <span class="font-weight-bold fs-2 mb-3 mt-2 text-ternary">
                        {{ user_data.name }}
                    </span>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center border-white">
                <div>
                    <span class="text-ternary picture-url fs-4 mt-5"><p> Toi-aussi, tu peux nous balancer une image rigolote !</p>
                        <form method="POST" class="col">
                            <input class="col-12"  type="url" id="url" name="url" placeholder="URL d'une image"/>
                            <button class="row text-ternary btn bg-secondary btn-block m-3 fs-4 "> Envoyer une image fun</button>
                        </form>
                    </span>
                </div>
            </div>
        </div>
            <div class="col-md-12 bg-primary border-right ">
                <div class="p-3 py-5">
                    <div class="d-flex flex-column mb-3">
                        <h4 class="text-right text-secondary border-bottom fs-2">Mes légendes postées <i class="offset-1 fas fa-comments"></i></h4>
                    </div>
                    <div class="container">
                        <div class="row">
                            {% for user_legend in user_legends %}
                            <div class="col-12 col-md-3">
                                <div>
                                    <a href="/image?id={{ user_legend.picture_id }}">
                                        <img class=" col-10 w-50 rounded d-flex justify-content-center text-center" src="{{ user_legend.url }}" alt="meme">
                                    </a>
                                </div>
                                <div class="row mt-2 pb-5">
                                    <div class="col-md-8 col-9 fs-4">
                                        {{ user_legend.content }}
                                    </div>
                                    <div class="col-md-2 col-2 text-secondary d-flex align-items-baseline fs-4">
                                        {{ user_legend.ranking }} <i class=" d-flex align-items-baseline offset-1 fas fa-star"> </i>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}